<appSettings>
  <add key="FacebookAppId" value="314612385776954"/>
  <add key="FacebookAppSecret" value="b4e13b720bcf5dc041608782ba574735"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>